<div class="container">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <%= form_with(model: @comment, local: true) do |form| %>
                <% if @comment.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this @comment from being saved:</h2>
                        <ul>
                            <% @comment.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <span class="badge badge-secondary">Editing Comment </span>
                <div class="card-body text-primary">    
                    <h5 class="card-title">
                        <%= form.hidden_field :user_id, value: current_user.id  %>
                    </h5>
                    <h5 class="card-title">
                        <%= form.hidden_field :product_id, value: @product.id  %>
                    </h5>
                    <p class="card-text">
                        <%= form.label :body %>
                        <%= form.text_area :body %>
                    </p>
               </div>
                <div class="actions">
                    <button type="button" class="btn btn-sm btn-outline-primary"> <%= form.submit %></div>
                </div>
            <% end %>
            <span class="badge badge-danger"><%= link_to 'Back', product_path(@product) %></span>
        </div>
    </div>
</div>