<%= render "general/profile_container", user: @displayed_user %>
<div class="statistics">
    <p>#Followers: <%= @followers_count %></p>
    <p>#Dontations: $<%= @donation_total %></p>
</div>
<% if user_signed_in? %>
    <div class="donation_form">
        <h3>Donate to <%= @displayed_user.name%></h3>
        <%= form_with(url: "/donations", action: :create, method: :post,  local: true) do |form| %>
            <%= form.hidden_field :donor_id, value: current_user.id %>
            <%= form.hidden_field :donee_id, value: @displayed_user.id %>
            <div class="field">
                <%= form.label :amount %>
                <%= form.number_field :amount %>
            </div>
            <div class="field">
                <%= form.label :message %>
                <%= form.text_field :message %>
            </div>
            <div class="actions">
                <%= form.submit %>
            </div>
        <% end %>
    </div>
<% end %>

<%= render "general/follow", displayed_user_id: @displayed_user.id %>
<%= render "general/product_grid", products: @displayed_user.products %>
