
 <div class="form-group">
    <div class="col-md-4">
  
    <tbody>
 <tr>
<td><%= simple_form_for :categorize,url: root_path, method: "GET", input_html: { multiple: true }, html: { class: 'form-inline' } do |f| %></td>
<td><%= f.input :bottom_price, collection: 1..@max_price, selected: @bottom_price %> </td>
<td><%= f.input :top_price, collection: 1..@max_price, selected: @top_price %> </td>

<td><%= f.input :color, collection: @colors, wrapper: :custom_collection_inline, selected: @color %> </td>
<td><%= f.input :dep, collection: @departments, label_method: :name, value_method: :id, include_blank: false, selected: @dep %> </td>
<td><%= f.submit "Search", class: "btn btn-primary" %>  </td>

 <%end%>
 </tr>
 </tbody>
 </div>
</div>

