 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">EYESHOPPING</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <%# <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li> %>
          <li>
         
          </li>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: 'nav-link' %> 
          </li>
          <li class="nav-item">
            <%= link_to "My Board", my_board_path, class: 'nav-link' %> 
          </li>
          <li class="nav-item">
            <%= link_to "Followings", my_followers_path, class: 'nav-link' %> 
          </li>
          <li class="nav-item">
        
         <%= link_to "Favourites", my_favourites_path, class: 'nav-link' %> 
        
          </li>
          <li class="nav-item">
            <%= link_to "My Account", my_account_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: 'nav-link' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
