
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Homepage</title>
  
</head>

<body>

<%# Search bar %>
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 offset-sm-2">
    
        <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :name, input_html: {value: ""} %>   
        <%= f.submit "Search", class: "btn btn-primary" %>
        <% end %>
        <hr>  
        
        </div>
    </div>
    </div>

<%# Categorize %>
  <%=select_tag(:color, options_for_select(@colors))%>




<!-- Page Content -->
    <div>
      <% @products.each do |product| %>
      <h1><%= image_tag product.picture if product.picture.attached? %></h1>
      <% end %>
    </div>


<!-- Footer -->
    <hr> 
    <footer>
        <div class="container">
            <p class="text-center">Copyright &copy; EyeShopping 2019</p>
        </div>
<!-- /.container -->
    </footer>

</body>
