<div class="my_profile_container">
    <h1><%= @current_user.name %></h1>
    <%= image_tag (@current_user.picture) %>
    <h2><%= @current_user.email %> </h2>
    <div class="statistics">
        <p>#Total Donations: <%= current_user.donation_total %></p>
        <p>Associations:</p>
        <ul> 
            <li>#Link-clicks: <%= current_user.link_click_total %></li>
            <li>#Revenue: <%= current_user.link_click_revenue %></li>
        </ul>
    </div>

    
</div>
<%= link_to "Edit account information", edit_user_registration_path(@current_user) %>
<div class="account_section">
    <div class="button">
        <%= link_to  "MY BOARD", my_board_path %>
    </div>
    <%= render  "general/product_grid", products: select_items(collection: @my_products, num_of_items: @displayed_items_count) %>
</div>
<div class="account_section">
    <div class="button">
        <%= link_to  "MY FOLLOWINGS", my_followings_path %>
    </div>
    <div class="followers_container">
        <% for user_profile in select_items(collection: @following_profiles, num_of_items: @displayed_items_count) %>
            <div class="profile_container">
                <%= link_to image_tag(user_profile.picture), user_path(user_profile) %>
                <h2><%= user_profile.name %></h2>
            </div>
        <% end %>
    </div>
</div>
<div class="account_section">
    <div class="button">
        <%= link_to  "MY FAVOURITES", my_favourites_path %>
    </div>
    <%= render  "general/product_grid", products: select_items(collection: @favourited_products, num_of_items: @displayed_items_count) %>
</div>