<div class="container">
    <div class="row">

        <div class="master"w-100 mt-4 pt-3">
            <div class="row">
                <div class="col-6 col-md-4">
            
                    <h2><%= @current_user.name %></h2>
                    <%= image_tag (@current_user.picture) %>
                    <h4><%= @current_user.email %> </h4>
                    <%# <div class="statistics"> %>
                    <p>#Total Donations: <%= current_user.donation_total %></p>
                    <p>Associations:</p>
                    <ul> 
                        <li>#Link-clicks: <%= current_user.link_click_total %></li>
                        <li>#Revenue: <%= current_user.link_click_revenue %></li>
                    </ul>
                    
                </div>
    
                <div class="col-12 col-md-8">
                    <%= link_to "Edit account information", edit_user_registration_path(@current_user) %>
                
<%# MY BOARD %>
                    <div class="button">
                        <%= link_to  "MY BOARD", my_board_path %>
                    </div>
                    <div class="container">
                        <div class="row align-items-start">
                            <div class="col">
                                <div class="adjusted_grid">
                                    <%= render  "general/product_grid", products: select_items(collection: @my_products, num_of_items: @displayed_items_count),class:"image_myboard" %>
                                </div>
                            </div>
                        </div>
                    </div>            

<%# FOLLOWING %>
                    <div class="button">
                        <%= link_to  "MY FOLLOWINGS", my_followings_path %>
                    </div>
                    
                    <div class="container">
                            <div class="row align-items-start">
                                <div class="col">
                                    
                                    <% for user_profile in select_items(collection: @following_profiles, num_of_items: @displayed_items_count) %>
                                
                                    <%= link_to image_tag(user_profile.picture), user_path(user_profile) %>
                                    <% user_profile.name %>
                                
                                <% end %>
                            </div>
                        </div>
                    </div>  

<%# FAVOURTIES %>                    
                    <div class="button">
                            <%= link_to  "MY FAVOURITES", my_favourites_path %>
                        </div>
                    <div class="container">
                    <div class="row align-items-start">
                            <div class="col">
                                <div class="adjusted_grid">
                    
                    <%= render  "general/product_grid", products: select_items(collection: @favourited_products, num_of_items: @displayed_items_count) %>
                        </div>
                    </div>
                </div>
            </div> 
        </div>


    </div>
</div>
