<p id="notice"><%= notice %></p>
<h1><%= image_tag current_user.picture if current_user.picture.attached? %></h1>

<h1><%= current_user.name %></h1>

<% @favourites.each do |favourite| %>
  <%= link_to product_path(favourite.product) do %>
    <% image_tag (favourite.product.picture) %>
  <% end %>
  <%= render "general/favourite", product: favourite.product %>
<% end %>
