<% if user_signed_in? %>
    <div class="donation_form">
        <h1>Donate to <%= @displayed_user.name%></h3>
        <%= form_with(model: @donation, local: true) do |form| %>
            <%= form.hidden_field :donor_id, value: current_user.id %>
            <%= form.hidden_field :donee_id, value: @displayed_user.id %>
            <div class="field">
                <%= form.label :amount %>
                <%= form.number_field :amount %>
            </div>
            <div class="field">
                <%= form.label :message %>
                <%= form.text_field :message %>
            </div>
            <div class="actions">
                <%= form.submit %>
            </div>
        <% end %>
    </div>
<% end %>
