
<!DOCTYPE html>
<html>
  <head>
    <title>EyeShopper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Partial Navigation -->
  <%= render 'pages/navigation' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <!-- Footer -->
    <br>
    <hr> 
    <br>
    <footer>
        <div class="container">
            <p class="text-center">Copyright &copy; EyeShopping 2019</p>
        </div>

      
    </footer>
  </body>

</html>
